.formes {
   position: absolute;
   top: 5%;
   left: 5%;
   width: 90%;
   height: 90%;
   background-color: #fff;
}
.input {
   display: block;
   margin: 10px;
   border-radius: 5px;
   height: 30px;


}
.color {
   margin-left: 40px;
   width: 80px;
   height: 20px;
   border-radius: 5px;
}
.quantity{
   margin-left: 18px;
   width: 80px;
   height: 20px;
   border-radius: 5px;
}
.size {
   margin-left: 50px;
   width: 80px;
   height: 20px;
   border-radius: 5px;
}